<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue.js"></script>

</head>
<body>
<div id="app">{{msg}}
    <!--
    API地址 : https://cn.vuejs.org/v2/api/
    指令：
        v-model： 将数据和模板进行双向绑定, 不同的输入元素会使用不同的属性
        v-for:  迭代数据渲染元素
        v-on: 绑定事件
            v-on:click缩写为@click： 添加点击事件，将info的值添加到list数组中

    -->
    <input type="text" value="" v-model="info">
    <button @click="addNew">新增</button>
    <button v-on:click="addNew2">新增</button>
    <p>{{info}}</p>
    <ul>
        <!--<li v-for="(v,k) in list">{{k}}-{{v}}</li>-->
        <todo-item v-for="(v, k) in list" :item="v" :key2="k"></todo-item>
    </ul>
</div>

</body>
<style>
    .item {
        background-color: red;
    }
</style>
<script>
    console.log(Vue.version);
    Vue.component('todo-item',{
        props: ['item', 'key2'],
        template: '<li class="item">{{item}}---{{key2}}</li>'
    });
    var vm = new Vue({
        //el 可以是选择器，也可是DOM实例
        el: document.getElementById('app'),
        data: {
            msg: 'hello world',
            info: 'default value',
            list: ['default']
        },
        methods: {
            addNew(){
                if (this.info) {
                    this.list.push(this.info);
                    this.info = ''//将输入框中的数据清空
                }
            },
            addNew2(){
                if (this.info) {
                    this.list.push(this.info+" addNew2");
                    this.info = ''//将输入框中的数据清空
                }
            }
        }
    });

    console.log(vm.$data.msg)

    vm.$watch('info',function (a, b) {
        console.log(a,b)
    });

</script>
</html>